html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
	background-image: url('../images/bg.png');
	background-repeat: repeat;	
  background-color: #EEE;
}
.left{
	float: left;
}
.right{
	float: right;	
}
#container{
	width: 100%;
	overflow: hidden;
}
#sidebar{
	width: 150px;
	margin: 0px;
	padding: 0px;
	background-color: #444;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	box-shadow: 2px 0px 10px #555;
}
#welcome{
	color: #FFE019;
	font-size: 40px;
	font-family: 'Comic Sans MS';
	text-align: center;	
}
#menu,
#menu li{
	display: block;
	list-style-type: none;	
}
#menu{
	margin: 80px 0px 10px 0px;
	padding: 0px;	
}
#menu li{
  color: #FFF;
  clear: both;
	margin: 0px;
	padding: 0px 10px 0px 0px;	
	border-bottom: 2px solid #999999;
}
#menu li:hover{
	background-color: #999999;
}
#menu a{
	display: block;
  float: right;
	height: 45px;
	font-size: 30px;
	font-family: 'Comic Sans MS';
	line-height: 45px;
	padding: 2px 10px 2px 0px;
	font-weight: bold;
	text-align: left;
  border-right: 1px;
}
#menu a,
#menu a:active,
#menu a:link,
#menu a:focus,
#menu a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
#menu a:hover{
	color: #FFE019;	
}
#game_control{
  clear: both;
	color: #19A3FF;
	width: 140px;
	padding: 2px 10px 2px 0px;
  text-align: right;
}

#wrapper{
	position: fixed;	
	padding-left: 10px;
	left: 150px;
	top: 0;
}

#game_board{
	width: 350px;
	overflow: hidden;
	padding: 5px;
}
#message_board{
	width: 600px;
	height: 504px;
	margin: 5px 0px 0px 0px;
}

#header{
	width: 112px;
	height: 112px;
	margin-left: 112px;
	padding: 5px 5px 0px 5px;
	background-color: #EEE;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 2px 10px #333333;
}
#main{
	width: 336px;
	height: 504px;
	background-color: #E5E5E5;
	padding: 5px 5px 5px 5px;
	margin-top: -5px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px #333333;
}
#notebook{
	width: 600px;
	height: 480px;
	padding: 5px;
	background-color: #E5E5E5;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #333333;
}
#message_box{
	width: 600px;
	height: 115px;
	margin-top: 10px;
	padding: 5px;
	background-color: #E5E5E5;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #333333;
}
#message{
	color: #333;
	font-size: 20px;
	padding: 5px;
	font-family: 'Comic Sans MS';
	line-height: 24px;
	background-color: #BBB;
	width: 590px;
	height: 105px;
}
#board{
	background-color: #BBB;
}
#preview{
	background-color: #BBB;
}
#paper{
	background-color: #BBB;
  padding: 10px 10px 10px 10px;
}
